<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Profession</th>
        <th colspan="2">change</th>
    </tr>

    <tr th:each="user : ${users}">
        <td th:utext="${user.id}"></td>
        <td th:utext="${user.name}"></td>
        <td th:utext="${user.surname}"></td>
        <td th:utext="${user.username}"></td>
        <td th:utext="${user.profession}"></td>
        <td><a th:href="@{admin/update/{id}(id=${user.id})}">Edit</a></td>
        <td><a th:href="@{admin/{id}(id=${user.id})}">Delete</a></td>
    </tr>
</table>
    <a href="/admin/new">Add user</a>
    <a th:href="@{/logout}">Logout</a>
</body>
</html>