<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <title>User page</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark d-flex justify-content-between">
    <span>
    <span class="navbar-brand font-weight-bold" th:text="${user.username}"></span>
    <span class="navbar-brand"
          th:text="'with roles: ' + ${user.roles}"></span>
    </span>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>
<!---->
<!---->
<!---->

<div class="container-fluid">
    <div class="row">
        <div class="col-2 bg-white">
            <nav class="nav flex-column nav-pills">
                <a class="nav-link active" href="/user">User</a>
            </nav>
        </div>
        <!--        таблица-->
        <div class="col-10 bg-light">
            <h2>User information-page</h2>
            </br>
            <h6>About user</h6>
            </br>
            <table class="table table-light table-striped">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th>Profession</th>
                </tr>

                <tr>
                    <td th:utext="${user.id}"></td>
                    <td th:utext="${user.name}"></td>
                    <td th:utext="${user.surname}"></td>
                    <td th:utext="${user.username}"></td>
                    <td th:utext="${user.profession}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>
<!---->
<!---->
<!---->

<!--<table border="1">-->
<!--    <tr>-->
<!--        <th>Id</th>-->
<!--        <th>Name</th>-->
<!--        <th>Surname</th>-->
<!--        <th>Email</th>-->
<!--        <th>Profession</th>-->
<!--    </tr>-->

<!--    <tr>-->
<!--        <td th:utext="${user.id}"></td>-->
<!--        <td th:utext="${user.name}"></td>-->
<!--        <td th:utext="${user.surname}"></td>-->
<!--        <td th:utext="${user.username}"></td>-->
<!--        <td th:utext="${user.profession}"></td>-->
<!--    </tr>-->
<!--</table>-->
<a th:href="@{/logout}">Logout</a>
</body>
</html>