<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <title>User page</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark d-flex justify-content-between">
    <ul class="navbar-nav mr-auto">
        <b><h5 class="text-white" id="navbarUsername"></h5></b>
        <h5 class="text-white">with roles:&nbsp
            <span style="float:right">
                <h5 class="text-white" id="navbarRoles"></h5>
            </span>
        </h5>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 bg-white">
            <br/>

            <div id="linkAdmin">
                <a class="nav-link text-primary" href="/admin">Admin</a>
            </div>


            <nav class="nav flex-column nav-pills">
                <a class="nav-link active" href="/user">User</a>
            </nav>
        </div>

        <!--            ТАБЛИЦА          -->
        <div class="col-10 bg-light">
            <br/>
            <h1>User information-page</h1>
            </br>
            <div><h5 class="card-header">About user</h5></div>
            </br>
            <table class="table table-light table-striped">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Email</th>
                    <th scope="col">Profession</th>
                    <th scope="col">Role</th>
                </tr>

                <tr>
                    <!--                    <td th:text="${user.id}">Id</td>-->
                    <!--                    <td th:text="${user.name}">Name</td>-->
                    <!--                    <td th:text="${user.surname}">Surname</td>-->
                    <!--                    <td th:text="${user.username}">Email</td>-->
                    <!--                    <td th:text="${user.profession}">Profession</td>-->
                    <!--                    <td th:text="${user.roles}">Role</td>-->
                    <td id="tableID"></td>
                    <td id="tableName"></td>
                    <td id="tableSurname"></td>
                    <td id="tableUsername"></td>
                    <td id="tableProfession"></td>
                    <td id="tableRoles"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script src="/user.js">
</script>
</body>
</html>